# https://docs.microsoft.com/azure/devops/pipelines/languages/java
# with inspiration from https://github.com/quarkusio/quarkus/blob/master/azure-pipelines.yml
trigger:
  batch: true
  branches:
    include:
    - pipeline

pr:
  branches:
    include:
    - master

jobs:
 - job: Build_Linux_jar
   timeoutInMinutes: 10
   pool:
     vmImage: 'ubuntu-16.04'
   
   steps:
   - task: Gradle@2
     displayName: 'Run tests'
     inputs:
       jdkVersionOption: '1.11'
       tasks: 'test'
 